.application {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.decoration {
}
.Title {
    
}
.functionality {
}
.functionality__input {
}
.add-task_input {
}
.add-task_button {
}
.ToDo-list {
    margin-left: 0;
    list-style: none;
}
.ToDo-Task {
    display: flex;
    justify-content: space-between;
}
.ToDo-Task:hover {
    background-color: #fff1d2;
}
.pen {
    background: url(../img/pen-icon.png) no-repeat scroll center center transparent;
    background-size: cover;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.bin {
    background: url(../img/bin-icon.png) no-repeat scroll center center transparent;
    background-size: cover;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
}
.line {
    width: 100%;

}
.done__tasks {
    
}
.hidden {
    display: none;
}
.line-thr {
    text-decoration: line-through;
}