.application__wrap {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.application__buttons {
    padding: 20px 10px;
    background-color: rgb(216, 234, 250);
    

}
.block-buttons__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
}
.block-buttons__item {
}
.block-buttons__button {
}

.application__tasks {
    padding: 20px 10px;
    background-color: rgb(255, 237, 214);
}
.title {
    color: brown;
    text-decoration: underline;
}

.tasks-input {
}
.tasks-input__text {
}
.tasks-input__button {
    background-color: rgb(216, 234, 250);
}
.blocks {

}
.title {
    
}
.block {

}
.block__title {
    margin: 0;
    text-align: end;
}
.block__list {
    margin-top: 0;
    padding: 10px;
    list-style: none;
    background-color: rgb(255, 221, 221);
}
.task {

}
.application__done-tasks {

}
